Source: libfcdpp1
Priority: optional
Maintainer: David Cureton <david.cureton@dcureton.com>
Build-Depends: debhelper (>= 9), cmake
Standards-Version: 3.9.8
Section: libs
#Homepage: www.<insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/collab-maint/libfcdpp1.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/libfcdpp1.git

Package: libfcdpp1-dev
Section: libdevel
Architecture: any
Depends: libfcdpp1(= ${binary:Version}), ${misc:Depends}
Description: Library to control FunCube Dongle Pro+
 This library allow the control of the features of the FunCube Dongle Pro+.

Package: libfcdpp1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library to control FunCube Dongle Pro+
 This library allow the control of the features of the FunCube Dongle Pro+.
